# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# Rider
.idea/

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Resharper
_ReSharper*/
*.DotSettings.user

# Visual Studio Code
.vscode/

# OS generated
Thumbs.db
*.DS_Store
ehthumbs.db
Desktop.ini

# Others
*.log
*.tlog
*.lastbuildstate
*.vspscc
*.vssscc

# Entity Framework / database local files (optional)
*.mdf
*.ldf
