CREATE DATABASE [QLKS]
GO
USE [QLKS]
GO
/****** Object:  Table [dbo].[ChiTietDatPhong]    Script Date: 25/10/2025 6:10:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatPhong](
	[MaDatPhong] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 25/10/2025 6:10:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaDatPhong] [int] NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[MaPhong] [int] NOT NULL,
	[NgayDat] [date] NULL,
	[NgayDen] [date] NULL,
	[NgayDi] [date] NULL,
 CONSTRAINT [PK__DatPhong__6344ADEA33BE1D69] PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 25/10/2025 6:10:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaDatPhong] [int] NULL,
	[NgayLap] [date] NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 25/10/2025 6:10:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SDT] [nvarchar](15) NULL,
	[CMND] [nvarchar](20) NULL,
 CONSTRAINT [PK__KhachHan__2725CF1E2C740E6F] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 25/10/2025 6:10:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[GiaPhong] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25/10/2025 6:10:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 25/10/2025 6:10:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[MaLoaiPhong] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK__Phong__20BD5E5BDB889A56] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 25/10/2025 6:10:09 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
	[MaNV] [int] NULL,
	[Quyen] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDatPhong]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDa__MaDat__46E78A0C] FOREIGN KEY([MaDatPhong])
REFERENCES [dbo].[DatPhong] ([MaDatPhong])
GO
ALTER TABLE [dbo].[ChiTietDatPhong] CHECK CONSTRAINT [FK__ChiTietDa__MaDat__46E78A0C]
GO
ALTER TABLE [dbo].[ChiTietDatPhong]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDa__MaPho__47DBAE45] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[ChiTietDatPhong] CHECK CONSTRAINT [FK__ChiTietDa__MaPho__47DBAE45]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK__DatPhong__MaKH__4316F928] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK__DatPhong__MaKH__4316F928]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK__DatPhong__MaNV__440B1D61] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK__DatPhong__MaNV__440B1D61]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__MaDatPho__4AB81AF0] FOREIGN KEY([MaDatPhong])
REFERENCES [dbo].[DatPhong] ([MaDatPhong])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__MaDatPho__4AB81AF0]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK__Phong__MaLoaiPho__398D8EEE] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK__Phong__MaLoaiPho__398D8EEE]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'KhachHang', @level2type=N'COLUMN',@level2name=N'MaKH'
GO

INSERT INTO LoaiPhong (TenLoai, GiaPhong, MoTa) VALUES
(N'Phòng Tiêu Chuẩn', 500000, N'Phòng đơn tiêu chuẩn'),
(N'Phòng Cao Cấp', 800000, N'Phòng đôi cao cấp'),
(N'Phòng Hạng Sang', 1200000, N'Phòng hạng sang'),
(N'Phòng Tổng Thống', 2000000, N'Phòng sang trọng, có phòng khách riêng'),
(N'Phòng Hoàng Gia', 3000000, N'Phòng cao cấp nhất, view đẹp');
GO

INSERT INTO Phong (MaPhong, TenPhong, MaLoaiPhong, TrangThai) VALUES
(101, N'Phòng 101', 1, N'Trống'),
(102, N'Phòng 102', 1, N'Trống'),
(103, N'Phòng 103', 1, N'Trống'),
(201, N'Phòng 201', 2, N'Trống'),
(202, N'Phòng 202', 2, N'Trống'),
(203, N'Phòng 203', 2, N'Trống'),
(301, N'Phòng 301', 3, N'Trống'),
(302, N'Phòng 302', 3, N'Trống'),
(401, N'Phòng 401', 4, N'Trống'),
(402, N'Phòng 402', 4, N'Trống'),
(501, N'Phòng 501', 5, N'Trống'),
(502, N'Phòng 502', 5, N'Trống');
GO

INSERT INTO NhanVien (TenNV, GioiTinh, NgaySinh, DiaChi) VALUES
(N'Nguyễn Văn A', N'Nam', '1995-05-10', N'Hà Nội'),
(N'Lê Thị B', N'Nữ', '1998-08-20', N'Hồ Chí Minh'),
(N'Trần Văn C', N'Nam', '1997-03-15', N'Đà Nẵng'),
(N'Phạm Thị D', N'Nữ', '1999-11-25', N'Hải Phòng'),
(N'Hoàng Văn E', N'Nam', '1996-07-08', N'Cần Thơ'),
(N'Vũ Thị F', N'Nữ', '2000-02-14', N'Hà Nội'),
(N'Đặng Văn G', N'Nam', '1998-09-30', N'Hồ Chí Minh');
GO

INSERT INTO TaiKhoan (TenDangNhap, MatKhau, MaNV, Quyen) VALUES
(N'admin', N'123', 1, N'admin'),
(N'nhanvien', N'123', 2, N'nhanvien'),
(N'nhanvien3', N'123', 3, N'nhanvien'),
(N'nhanvien4', N'123', 4, N'nhanvien'),
(N'quanly', N'123', 5, N'quanly');
GO




INSERT INTO ChiTietDatPhong (MaDatPhong, MaPhong, DonGia) VALUES
(1, 101, 500000),
(2, 201, 800000),
(3, 301, 1200000),
(4, 401, 2000000),
(5, 501, 3000000),
(6, 102, 500000),
(7, 202, 800000),
(8, 302, 1200000),
(9, 402, 2000000),
(10, 502, 3000000);
GO

INSERT INTO HoaDon (MaDatPhong, NgayLap, TongTien) VALUES
(1, '2025-10-27', 1000000),  -- 2 ngày x 500000
(2, '2025-10-28', 1600000),  -- 2 ngày x 800000
(3, '2025-10-30', 3600000),  -- 3 ngày x 1200000
(4, '2025-11-01', 8000000),  -- 4 ngày x 2000000
(5, '2025-11-02', 12000000), -- 4 ngày x 3000000
(6, '2025-11-07', 1000000),  -- 2 ngày x 500000
(7, '2025-11-09', 2400000),  -- 3 ngày x 800000
(8, '2025-11-11', 3600000),  -- 3 ngày x 1200000
(9, '2025-11-13', 6000000),  -- 3 ngày x 2000000
(10, '2025-11-15', 9000000); -- 3 ngày x 3000000
GO

UPDATE Phong SET TrangThai = N'Đã đặt' WHERE MaPhong IN (101, 201, 301, 401, 501, 102, 202, 302, 402, 502);
GO